<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="style/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Speech To Youtube</title>
  <head>
    <meta charset="utf-8">
    <title>Speech To Youtube</title>
  </head>
  <body>
    <style>
      body {
        background-image: url('images/background.jpg');
      }
    </style>
    {{insert}}
    <h1>
      <p>Enter Keywords below to begin your search</p>
    </h1>
    <div class="search_bar">
      <form class="search">
        <label class="youtube" for="yvideo">Keywords:</label><br>
        <input class="in" type="text" id="yvideo" name="search">
        <button class="button" onclick="myFunction()"><i class="fa fa-search"></i></button>
        <script>
          function myFunction() {
              var input = document.getElementById("yvideo").value;
              alert(input);
          }
        </script>
      </form>

    </div>
    <br><br>
    <div class="video">
      <iframe width="720" height="480"
        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
      </iframe>
    </div>

  </body>
</html>
